@page
@model PadronObligados2021.Pages.Padron.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServidorPublico</h4>
@*<hr />
<div class="row">
    <div class="col-md-4">*@
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ServidorPublico.ServidorPublicoId" />

    <TABLE>
        <TR>
            <TD>DATOS PERSONALES Y DE NACIMIENTO</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.Nombres" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.Nombres" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Nombres" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.PrimerApellido" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.PrimerApellido" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.PrimerApellido" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.SegundoApellido" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.SegundoApellido" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.SegundoApellido" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CURP" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CURP" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CURP" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.RFC" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.RFC" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />   Homoclave:
                <span asp-validation-for="ServidorPublico.RFC" class="text-danger"></span>
                <input asp-for="ServidorPublico.Homoclave" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Homoclave" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CorreoElectronico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CorreoElectronico" class="text-lowercase" type="email" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CorreoElectronico" class="text-danger"></span>
            </TD>

        <TR>
            <TD>DOMICILIO DEL DECLARANTE</TD>
        <TR>
            <TD>Entidad Federativa:</TD>
            <TD>
                <select asp-for="EntidadFederativaId" asp-items="ViewBag.EntidadesFederativas"></select>
                <span asp-validation-for="EntidadFederativaId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.MunicipioId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.MunicipioId" asp-items="ViewBag.Municipios"></select>
                <span asp-validation-for="ServidorPublico.MunicipioId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.LocalidadNombre" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.LocalidadNombre" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />   <label asp-for="ServidorPublico.CodigoPostal" class="control-label"></label>
                <span asp-validation-for="ServidorPublico.LocalidadNombre" class="text-danger"></span>
                <input asp-for="ServidorPublico.CodigoPostal" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CodigoPostal" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CalleNombre" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CalleNombre" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CalleNombre" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.LocalidadNombre" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroExterior" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />   <label asp-for="ServidorPublico.NumeroInterior" class="control-label"></label>
                <span asp-validation-for="ServidorPublico.NumeroExterior" class="text-danger"></span>

                <input asp-for="ServidorPublico.NumeroInterior" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroInterior" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroCelular" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroCelular" type="number" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroCelular" class="text-danger"></span>
            </TD>

        <TR>
            <TD>ESTADO CIVIL</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.SituacionPersonalId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.SituacionPersonalId" asp-items="ViewBag.SituacionesPersonales"></select>
                <span asp-validation-for="ServidorPublico.SituacionPersonalId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.RegimenMatrimonialId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.RegimenMatrimonialId" asp-items="ViewBag.RegimenesMatrimoniales"></select>
                <span asp-validation-for="ServidorPublico.RegimenMatrimonialId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroIdentificacionOficial" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroIdentificacionOficial" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroIdentificacionOficial" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FuncionPrincipalId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.FuncionPrincipalId" asp-items="ViewBag.FuncionesPrincipales"></select>
                <span asp-validation-for="ServidorPublico.FuncionPrincipalId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.TelefonoOficina" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.TelefonoOficina" type="tel" placeholder="telefono" size=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.TelefonoOficina" class="text-danger"></span>
            </TD>
        <TR>
            @*EsServidorPublicoAnioAnterior*@
            <TD><label asp-for="ServidorPublico.EsServidorPublicoAnioAnterior" class="control-label"></label></TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="SI">SI</OPTION>
                    <OPTION value="NO">NO</OPTION>
                </SELECT>Escoja una opción
            </TD>

        <TR>
            <TD>DATOS CURRICULARES</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NivelEscolarId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.NivelEscolarId" asp-items="ViewBag.NivelesEscolaridad"></select>
                <span asp-validation-for="ServidorPublico.NivelEscolarId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.InstitucionEducativa" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.InstitucionEducativa" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.InstitucionEducativa" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CarreraArea" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CarreraArea" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CarreraArea" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.EstatusNivelEscolaridad*@
            <TD><label asp-for="ServidorPublico.EstatusNivelEscolaridad" class="control-label"></label></TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="CURSANDO">CURSANDO</OPTION>
                    <OPTION value="TRUNCO">TRUNCO</OPTION>
                    <OPTION value="FINALIZADO">FINALIZADO</OPTION>
                </SELECT>Escoja una opción
            </TD>
        <TR>
            @*ServidorPublico.DocumentoObtenido*@
            <TD><label asp-for="ServidorPublico.DocumentoObtenido" class="control-label"></label></TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="BOLETA">BOLETA</OPTION>
                    <OPTION value="CERTIFICADO">CERTIFICADO</OPTION>
                    <OPTION value="CONSTANCIA">CONSTANCIA</OPTION>
                    <OPTION value="TITULO">TITULO</OPTION>
                </SELECT>Escoja una opción
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FechaObtencion" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FechaObtencion" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaObtencion" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.LugarInstitucion*@
            <TD><label asp-for="ServidorPublico.LugarInstitucion" class="control-label"></label></TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="MÉXICO">MÉXICO</OPTION>
                    <OPTION value="EN EL EXTRANJERO">EN EL EXTRANJERO</OPTION>
                </SELECT>Escoja una opción
            </TD>

        <TR>
            <TD>EXPERIENCIA LABORAL</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.AmbitoSectorLaboral" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.AmbitoSectorLaboral" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.AmbitoSectorLaboral" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.Nivel" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.Nivel" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Nivel" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.AmbitoPublico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.AmbitoPublico" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.AmbitoPublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NombreEntePublico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NombreEntePublico" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NombreEntePublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.RFCEntePublico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.RFCEntePublico" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.RFCEntePublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.AreaAdscripcion" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.AreaAdscripcion" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.AreaAdscripcion" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.EmpleoCargoComision" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.EmpleoCargoComision" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.EmpleoCargoComision" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FuncionPrincipalExperiencia" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FuncionPrincipalExperiencia" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FuncionPrincipalExperiencia" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FechaIngreso" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FechaIngreso" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaIngreso" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FechaEgreso" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FechaEgreso" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaEgreso" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.SectorId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.SectorId" asp-items="ViewBag.Sectores"></select>
                <span asp-validation-for="ServidorPublico.SectorId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroEmpleado" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroEmpleado" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroEmpleado" class="text-danger"></span>
            </TD>
        <TR>
            <TD><B>Pulse aquí:</B></TD>
            <TD ALIGN=CENTER>
                <INPUT TYPE="submit" VALUE="Guardar" class="btn btn-primary">
                <INPUT TYPE="reset" VALUE="Limpiar" class="btn btn-danger">
            </TD>

    </TABLE>
</form>
    @*</div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
