@page
@model PadronObligados2021.Pages.Padron.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServidorPublico</h4>
@*<hr />
<div class="row">
    <div class="col-md-4">*@
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ServidorPublico.ServidorPublicoId" />

    <TABLE>
        <TR>
            <TD>Nombre(s):</TD>
            <TD>
                <input asp-for="ServidorPublico.Nombres" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Nombres" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Apellido Paterno:</TD>
            <TD>
                <input asp-for="ServidorPublico.PrimerApellido" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.PrimerApellido" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Apellido Materno:</TD>
            <TD>
                <input asp-for="ServidorPublico.SegundoApellido" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.SegundoApellido" class="text-danger"></span>
            </TD>
        <TR>
            <TD>CURP:</TD>
            <TD>
                <input asp-for="ServidorPublico.CURP" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CURP" class="text-danger"></span>
            </TD>
        <TR>
            <TD>RFC:</TD>
            <TD>
                <input asp-for="ServidorPublico.RFC" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />   Homoclave:
                <span asp-validation-for="ServidorPublico.RFC" class="text-danger"></span>
                <input asp-for="ServidorPublico.Homoclave" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Homoclave" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Correo Electronico Personal:</TD>
            <TD>
                <input asp-for="ServidorPublico.CorreoElectronico" class="text-lowercase" type="email" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CorreoElectronico" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Entidad Federativa:</TD>
            <TD>
                <select asp-for="EntidadFederativaId" asp-items="ViewBag.EntidadesFederativas"></select>
                <span asp-validation-for="EntidadFederativaId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Municipio:</TD>
            <TD>
                <select asp-for="ServidorPublico.MunicipioId" asp-items="ViewBag.Municipios"></select>
                <span asp-validation-for="ServidorPublico.MunicipioId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Localidad:</TD>
            <TD>
                <input asp-for="ServidorPublico.LocalidadNombre" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />   Código Postal:
                <span asp-validation-for="ServidorPublico.LocalidadNombre" class="text-danger"></span>
                <input asp-for="ServidorPublico.CodigoPostal" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CodigoPostal" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Calle:</TD>
            <TD>
                <input asp-for="ServidorPublico.CalleNombre" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CalleNombre" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Número Exterior::</TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroExterior" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />   Número Interior:
                <span asp-validation-for="ServidorPublico.NumeroExterior" class="text-danger"></span>
                <input asp-for="ServidorPublico.NumeroInterior" class="text-capitalize" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroInterior" class="text-danger"></span>
            </TD>
        <TR>
            <TD>No.Telefono Celular:</TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroCelular" type="number" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroCelular" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Situación Personal:</TD>
            <TD>
                <select asp-for="ServidorPublico.SituacionPersonalId" asp-items="ViewBag.SituacionesPersonales"></select>
                <span asp-validation-for="ServidorPublico.SituacionPersonalId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Regimen Matrimonial:</TD>
            <TD>
                <select asp-for="ServidorPublico.RegimenMatrimonialId" asp-items="ViewBag.RegimenesMatrimoniales"></select>
                <span asp-validation-for="ServidorPublico.RegimenMatrimonialId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>No.Identificación Oficial:</TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroIdentificacionOficial" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroIdentificacionOficial" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Función Principal:</TD>
            <TD>
                <select asp-for="ServidorPublico.FuncionPrincipalId" asp-items="ViewBag.FuncionesPrincipales"></select>
                <span asp-validation-for="ServidorPublico.FuncionPrincipalId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>No.Telefono Oficina:</TD>
            <TD>
                <input asp-for="ServidorPublico.TelefonoOficina" type="tel" placeholder="telefono" size=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.TelefonoOficina" class="text-danger"></span>
            </TD>
        <TR>
            @*EsServidorPublicoAnioAnterior*@
            <TD>Servidor Público Año Anterior:</TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="SI">SI</OPTION>
                    <OPTION value="NO">NO</OPTION>
                </SELECT>Escoja una opción
            </TD>
        <TR>
            <TD>Nivel Escolaridad:</TD>
            <TD>
                <select asp-for="ServidorPublico.NivelEscolarId" asp-items="ViewBag.NivelesEscolaridad"></select>
                <span asp-validation-for="ServidorPublico.NivelEscolarId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Institución Educativa:</TD>
            <TD>
                <input asp-for="ServidorPublico.InstitucionEducativa" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.InstitucionEducativa" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Carrera Área:</TD>
            <TD>
                <input asp-for="ServidorPublico.CarreraArea" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CarreraArea" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.EstatusNivelEscolaridad*@
            <TD>Estatus Escolaridad:</TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="CURSANDO">CURSANDO</OPTION>
                    <OPTION value="TRUNCO">TRUNCO</OPTION>
                    <OPTION value="FINALIZADO">FINALIZADO</OPTION>
                </SELECT>Escoja una opción
            </TD>
        <TR>
            @*ServidorPublico.DocumentoObtenido*@
            <TD>Documento Obtenido:</TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="BOLETA">BOLETA</OPTION>
                    <OPTION value="CERTIFICADO">CERTIFICADO</OPTION>
                    <OPTION value="CONSTANCIA">CONSTANCIA</OPTION>
                    <OPTION value="TITULO">TITULO</OPTION>
                </SELECT>Escoja una opción
            </TD>
        <TR>
            <TD>Fecha Obtención:</TD>
            <TD>
                <input asp-for="ServidorPublico.FechaObtencion" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaObtencion" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.LugarInstitucion*@
            <TD>Lugar Institución:</TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="MÉXICO">MÉXICO</OPTION>
                    <OPTION value="EN EL EXTRANJERO">EN EL EXTRANJERO</OPTION>
                </SELECT>Escoja una opción
            </TD>
        <TR>
            <TD>Ambito Sector Laboral:</TD>
            <TD>
                <input asp-for="ServidorPublico.AmbitoSectorLaboral" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.AmbitoSectorLaboral" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Nivel:</TD>
            <TD>
                <input asp-for="ServidorPublico.Nivel" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Nivel" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Ambito Público:</TD>
            <TD>
                <input asp-for="ServidorPublico.AmbitoPublico" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.AmbitoPublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Nombre Ente Público:</TD>
            <TD>
                <input asp-for="ServidorPublico.NombreEntePublico" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NombreEntePublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD>RFC Ente Público:</TD>
            <TD>
                <input asp-for="ServidorPublico.RFCEntePublico" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.RFCEntePublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Area Adscripción:</TD>
            <TD>
                <input asp-for="ServidorPublico.AreaAdscripcion" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.AreaAdscripcion" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Empleo, Cargo o Comisión:</TD>
            <TD>
                <input asp-for="ServidorPublico.EmpleoCargoComision" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.EmpleoCargoComision" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Función Principal Experiencia:</TD>
            <TD>
                <input asp-for="ServidorPublico.FuncionPrincipalExperiencia" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FuncionPrincipalExperiencia" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Fecha Ingreso:</TD>
            <TD>
                <input asp-for="ServidorPublico.FechaIngreso" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaIngreso" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Fecha Egreso:</TD>
            <TD>
                <input asp-for="ServidorPublico.FechaEgreso" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaEgreso" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Sector:</TD>
            <TD>
                <select asp-for="ServidorPublico.SectorId" asp-items="ViewBag.Sectores"></select>
                <span asp-validation-for="ServidorPublico.SectorId" class="text-danger"></span>
            </TD>
        <TR>
            <TD>Número Empleado:</TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroEmpleado" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroEmpleado" class="text-danger"></span>
            </TD>
        <TR>
            <TD><B>Pulse aquí:</B></TD>
            <TD ALIGN=CENTER>
                <INPUT TYPE="submit" VALUE="Guardar" class="btn btn-primary">
                <INPUT TYPE="reset" VALUE="Limpiar" class="btn btn-danger">
            </TD>

    </TABLE>
</form>
    @*</div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
