@page
@model PadronObligados2021.Pages.Padron.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServidorPublico</h4>
@*<hr />
<div class="row">
    <div class="col-md-4">*@
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ServidorPublico.ServidorPublicoId" />

    <TABLE>
        <TR>
            <TD>DATOS PERSONALES Y DE NACIMIENTO</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.Nombres" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.Nombres" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Nombres" class="text-danger"></span>
            </TD>
            @*<TR>
                <TD><label asp-for="ServidorPublico.PrimerApellido" class="control-label"></label></TD>
                <TD>
                    <input asp-for="ServidorPublico.PrimerApellido" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                    <span asp-validation-for="ServidorPublico.PrimerApellido" class="text-danger"></span>
                </TD>
            <TR>
                <TD><label asp-for="ServidorPublico.SegundoApellido" class="control-label"></label></TD>
                <TD>
                    <input asp-for="ServidorPublico.SegundoApellido" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                    <span asp-validation-for="ServidorPublico.SegundoApellido" class="text-danger"></span>
                </TD>*@
        <TR>
            <TD><label asp-for="ServidorPublico.CURP" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CURP" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CURP" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.RFC" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.RFC" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />   Homoclave:
                <span asp-validation-for="ServidorPublico.RFC" class="text-danger"></span>
                <input asp-for="ServidorPublico.Homoclave" class="text-capitalize" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.Homoclave" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CorreoElectronico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CorreoElectronico" class="text-lowercase" type="email" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CorreoElectronico" class="text-danger"></span>
            </TD>

        <TR>
            <TD>DOMICILIO DEL DECLARANTE</TD>
            @*<TR>
            <TD>Entidad Federativa:</TD>
            <TD>
                <select asp-for="EntidadFederativaId" asp-items="ViewBag.EntidadesFederativas" onchange=""></select>
                <span asp-validation-for="EntidadFederativaId" class="text-danger"></span>
            </TD>*@
        <TR>
            <TD><label asp-for="ServidorPublico.MunicipioId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.MunicipioId" asp-items="ViewBag.Municipios"></select>Presentar lista, ubicar digitando letras iniciales
                <span asp-validation-for="ServidorPublico.MunicipioId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.LocalidadNombre" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.LocalidadNombre" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />   <label asp-for="ServidorPublico.CodigoPostal" class="control-label"></label>
                <span asp-validation-for="ServidorPublico.LocalidadNombre" class="text-danger"></span>
                <input asp-for="ServidorPublico.CodigoPostal" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.CodigoPostal" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CalleNombre" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CalleNombre" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.CalleNombre" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroExterior" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroExterior" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />   <label asp-for="ServidorPublico.NumeroInterior" class="control-label"></label>
                <span asp-validation-for="ServidorPublico.NumeroExterior" class="text-danger"></span>

                <input asp-for="ServidorPublico.NumeroInterior" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.NumeroInterior" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroCelular" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroCelular" type="number" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroCelular" class="text-danger"></span>
            </TD>

        <TR>
            <TD>ESTADO CIVIL</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.SituacionPersonalId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.SituacionPersonalId" asp-items="ViewBag.SituacionesPersonales"></select>
                <span asp-validation-for="ServidorPublico.SituacionPersonalId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.RegimenMatrimonialId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.RegimenMatrimonialId" asp-items="ViewBag.RegimenesMatrimoniales"></select>
                <span asp-validation-for="ServidorPublico.RegimenMatrimonialId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroIdentificacionOficial" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroIdentificacionOficial" type="text" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroIdentificacionOficial" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FuncionPrincipalId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.FuncionPrincipalId" asp-items="ViewBag.FuncionesPrincipales"></select>
                <span asp-validation-for="ServidorPublico.FuncionPrincipalId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.TelefonoOficina" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.TelefonoOficina" type="tel" placeholder="telefono" size=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.TelefonoOficina" class="text-danger"></span>
            </TD>
            @*<TR>
            EsServidorPublicoAnioAnterior
            <TD><label asp-for="ServidorPublico.EsServidorPublicoAnioAnterior" class="control-label"></label></TD>
            <TD>
                <SELECT NAME="OPCION">
                    <OPTION value="SI">SI</OPTION>
                    <OPTION value="NO">NO</OPTION>
                </SELECT>Escoja una opción
            </TD>*@

        <TR>
            <TD>DATOS CURRICULARES</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NivelEscolarId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.NivelEscolarId" asp-items="ViewBag.NivelesEscolaridad"></select>
                <span asp-validation-for="ServidorPublico.NivelEscolarId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.InstitucionEducativa" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.InstitucionEducativa" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.InstitucionEducativa" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.CarreraArea" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.CarreraArea" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.CarreraArea" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.EstatusNivelEscolaridad*@
            <TD><label asp-for="ServidorPublico.EstatusNivelEscolaridadId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.EstatusNivelEscolaridadId" asp-items="ViewBag.EstatusesNivelEscolaridad"></select>
                <span asp-validation-for="ServidorPublico.EstatusNivelEscolaridadId" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.DocumentoObtenido*@
            <TD><label asp-for="ServidorPublico.DocumentoObtenidoId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.DocumentoObtenidoId" asp-items="ViewBag.DocumentosObtenidos"></select>
                <span asp-validation-for="ServidorPublico.DocumentoObtenidoId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FechaObtencion" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FechaObtencion" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaObtencion" class="text-danger"></span>
            </TD>
        <TR>
            @*ServidorPublico.LugarInstitucion*@
            <TD><label asp-for="ServidorPublico.LugarInstitucionId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.LugarInstitucionId" asp-items="ViewBag.LugaresInstituciones"></select>
                <span asp-validation-for="ServidorPublico.LugarInstitucionId" class="text-danger"></span>
            </TD>

        <TR>
            <TD>EXPERIENCIA LABORAL (último empleo)* Dejar en blanco en caso de ser el primer empleo</TD>
        <TR>
            <TD><label asp-for="ServidorPublico.AmbitoId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.AmbitoId" asp-items="ViewBag.Ambitos"></select>
                <span asp-validation-for="ServidorPublico.AmbitoId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NivelId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.NivelId" asp-items="ViewBag.Niveles"></select>
                <span asp-validation-for="ServidorPublico.NivelId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.AmbitoPublicoId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.AmbitoPublicoId" asp-items="ViewBag.AmbitosPublicos"></select>
                <span asp-validation-for="ServidorPublico.AmbitoPublicoId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NombreEntePublico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NombreEntePublico" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.NombreEntePublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.RFCEntePublico" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.RFCEntePublico" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.RFCEntePublico" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.AreaAdscripcion" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.AreaAdscripcion" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.AreaAdscripcion" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.EmpleoCargoComision" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.EmpleoCargoComision" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.EmpleoCargoComision" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FuncionPrincipalExperiencia" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FuncionPrincipalExperiencia" type="text" SIZE=20 MAXLENGTH=40 style="text-transform:uppercase" />
                <span asp-validation-for="ServidorPublico.FuncionPrincipalExperiencia" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FechaIngreso" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FechaIngreso" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaIngreso" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.FechaEgreso" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.FechaEgreso" type="date" SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.FechaEgreso" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.SectorId" class="control-label"></label></TD>
            <TD>
                <select asp-for="ServidorPublico.SectorId" asp-items="ViewBag.Sectores"></select>
                <span asp-validation-for="ServidorPublico.SectorId" class="text-danger"></span>
            </TD>
        <TR>
            <TD><label asp-for="ServidorPublico.NumeroEmpleado" class="control-label"></label></TD>
            <TD>
                <input asp-for="ServidorPublico.NumeroEmpleado" type="text" readonly SIZE=20 MAXLENGTH=40 />
                <span asp-validation-for="ServidorPublico.NumeroEmpleado" class="text-danger"></span>
            </TD>
        <TR>
            <TD><B>Pulse aquí:</B></TD>
            <TD ALIGN="left">
                <INPUT TYPE="submit" VALUE="Guardar" class="btn btn-primary">
                @*<INPUT TYPE="reset" VALUE="Limpiar" class="btn btn-danger">*@
            </TD>

    </TABLE>
</form>
    @*</div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
