@page
@model IndexModel
@{
    ViewData["Title"] = "Padrón OPDM Declar@NET 2021";
}

    <div class="text-left">
        <h1 class="display-4">
            Integración Padrón Total de Obligados
        </h1>

        Antecedentes
        <ul>
            <li>Acuerdo emitido por el CCSNA publicado en el D.O.F 23 de septiembre de 2019.</li>
            <li>Acuerdo emitido por el CCSNA publicado en el D.O.F 24 de diciembre de 2019.</li>
            <li>        Operables Formatos de Declaración de Situación Patrimonial y de Intereses. 01/01/2020 nivel Federal. 01/05/2021 en Estados y Municipios.</li>
        </ul>
        <p>Estrategia Supuestos para integrar padrón 2021Todos los servidores públicos que se encuentren en activo hasta antes del 19 de julio de 2017, y a la fecha no son obligados a la presentación de la Declaración Patrimonial y de intereses, deberán ser integrados al Padrón de sujetos obligados, considerando los supuestos siguientes:</p>
        @*<p><img src="/Imagenes/DeclaracionAmplia.png" alt="Movie view form with multiple jQuery client-side validation errors" data-linktype="relative-path"></p>*@
        <img src="/Imagenes/DeclaracionSimple.JPG">
        <img src="/Imagenes/DeclaracionAmplia.JPG">

        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
